body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.header, .footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-text {
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
    margin: 0;
}

button.signup-button, .signup {
    background-color: #3882f6;
}

button {
    padding: 8px 32px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.hero-text button {
    border: none;
    margin-top: 8px;
}

.signup button {
    border-color: white;
}

.information .info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote {
    background-color: #e3e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.container {
    display: flex;
    flex-direction: column;
}

.navigation {
    margin: 0 8px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.pages {
    display: flex;
    gap: 16px;
    list-style: none;
}

.content {
    display: flex;
    /* flex: 1; */
    justify-content: center;
    align-items: center;
    padding: 64px 128px;
    margin: 32px;
    gap: 16px;
}

.hero-text {
    flex: auto;
    flex-wrap: wrap;
    max-width: 500px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.info-cards {
    display: flex;
    flex-direction: row;

}

.info-image {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 8px;
}

.info {
    max-width: 200px;
    padding: 8px;
    margin: 0 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}